node_modules
.DS_Store
tmp/**/*
.idea
*.iml
_site
*.sublime-*
# commenting these out so that we can host from github
# dist/*.js
# dist/*.css
# dist/*.map
coverage/
*.js.html
.mailmap
bower.json
component.json
debug/local/
Gemfile.lock
